<app-header></app-header>
<main>
  <section class="main-section pad-70">
    <div class="headline">
      <span>KIPPER CONSULTORIA</span>
      <h1>A consultoria que você busca para seu software</h1>
    </div>
    <img ngSrc="assets/principal.png" priority="true" width="669" height="536">
  </section>
  <section class="benefit-section pad-70">
    <div class="benefit-data">
      <h2>
        95% das<br/>
        empresas
      </h2>
    </div>
    <p>não sabem como lidar com problemas de <b>escalabilidade</b> e grande volume de requisições.</p>
  </section>
  <section class="cta-section">
    <app-btn-primary btn-text="fale com nossos especialistas"></app-btn-primary>
  </section>
  <app-newsletter-form></app-newsletter-form>
  <section class="professionals-section">
    <app-small-card image="assets/team.png" title="Equipe Capacitada" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sapiente minus sed optio voluptas accusamus corporis sint tempore, officiis eligendi ut nisi labore sit?"></app-small-card>
    <app-small-card image="assets/project-guide.png" title="Seus Projetos Guiados Do Zero" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sapiente minus sed optio voluptas accusamus corporis sint tempore, officiis eligendi ut nisi labore sit?"></app-small-card>
  </section>
  <section class="contact-section">
    <h2>Quer elevar seu software e seus<br>negócios para outro nível?</h2>
    <app-btn-primary btn-text="fale com nossos especialistas"></app-btn-primary>
  </section>
  <app-footer></app-footer>
</main>

