$primary-text: #0f172a;
$secondary-text: #475569;
$tertiary-text: #0D002E;
$primary-color: #8455ff;
$secondary-color: #5222d0;
$light-primary-color: #b79ff7;
$bg-primary: #ffffff;
$bg-secondary: #351686;
